<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ROI Selection</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/config.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style-cam.css') }}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/back_config.js')}}"></script>
  </head>
  <body>
    <header>
      <div class="caja">
        <h1>
          <a href="{{url_for('index')}}"
            ><img
              src="{{url_for('static', filename='images/logo.jpg')}}"
              alt="Logo Accesa"
              class="logo"
            />
          </a>
        </h1>
        <h1 class="titulo">Detección de Objetos</h1>
      </div>
    </header>
    <main>
      <section class="reset">
        <nav>
          <ul>
            <li>
              <a href="{{url_for('settings')}}">
                <button type="submit">DELANTERA</button>
              </a>
            </li>
            <li>
              <form action="javascript:resetVideo()">
                <button type="submit">RESTABLECER</button>
              </form>
            <li>
              <a href="{{url_for('process')}}">
                <button type="submit">REGRESAR</button>
              </a>
              </form>
            </li>
            <li>
              <button id="save" type="submit">GUARDAR</button>
            </li>
          </ul>
        </nav>
      </section>
      <br>
      <br>
      <section class="video">
        <div>
          <canvas id="canvas"></canvas>
        </div>      
      </section>
      <br>
      <section>
        <div class="canvas_button">
          <button id="roi_area" type="button">ROI</button>
          <button id="roi" type="button">&#9723</button>
          <button id="up" type="button">&#8593</button>
          <button id="down" type="button">&#8595</button>
          <div class="slider-container">
            <p>Sensibilidad <span id="sliderValue">50</span></p>
            <input type="range" min="0" max="100" id="mySlider">
          </div>
        </div>
      </section>
      <!-- <div class="camera">
            <iframe src="https://www.retrogames.cc/embed/10387-the-king-of-fighters-2002-magic-plus-ii-bootleg-bootleg.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
        </div> -->
    </main>
  </body>
</html>
