<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cámara</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="caja">
        <h1>
          <a href="{{url_for('index')}}"
            ><img
              src="{{url_for('static', filename='images/logo.jpg')}}"
              alt="Logo Accesa"
              class="logo"
          /></a>
        </h1>
        <h1 class="titulo">Cámara en tiempo real</h1>
      </div>
    </header>
    <main>
      <div class="camera">
        <img src="{{ url_for('cam') }}" width="80%" />
      </div>
      <div class="camera">
        <img src="{{ url_for('back_cam') }}" width="80%" />
      </div>
      <!-- <div class="camera">
            <iframe src="https://www.retrogames.cc/embed/10387-the-king-of-fighters-2002-magic-plus-ii-bootleg-bootleg.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
        </div> -->
    </main>
  </body>
</html>
