<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MóvilAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/style.css')}}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/cam_set.css')}}"
    />
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="overlay" id="loadingOverlay">
      <div class="spinner"></div>
    </div>
    <header>
      <div class="caja">
        <h1>
          <a href="{{url_for('index')}}"
            ><img
              class="logo"
              src="{{url_for('static', filename='images/logo.jpg')}}"
              alt="Logo Accesa"
              class="logo"
          /></a>
        </h1>
        <h1 class="titulo">MóvilAI</h1>
      </div> 
    </header>

    <main>
      <div class="options">
        <nav>
          <ul>
            <li>
              <a href="{{url_for('process')}}">
                <button type="submit">REGRESAR</button>
              </a>
            </li>  
          </ul>
        </nav>
      </div>
      
      <div class="div-form">
        <form class="cam-form" name="cam-form" id="cam-form">
          <legend>Seleccione el tipo de cámara</legend>

          <select
            name="camt"
            id="camara"
            required
            onchange="showForm()"
          >
            <option value="">Seleccione cantidad de cámaras</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </form>
      </div>
      
      <br>
      <br>
      <br>
      <br>

      <div class="cam-form">
        <div id="ipcam-form" style="display: none">
          <form class="ip" name="ip" id="ip">
            <nav>
              <ul>
                <li>
                  <label for="ipcam">Ingrese la dirección IP</label>
                  <input
                    type="text"
                    name="ipcam"
                    id="ipcam"
                    placeholder="000.0.000.00"
                    required
                  />
                </li>
                <li>
                  <label for="port">Ingrese el puerto</label>
                  <input
                    type="text"
                    name="port"
                    id="port"
                    placeholder="0000"
                    required
                  />
                </li>
                <li>
                  <label for="user">Ingrese el usuario</label>
                  <input
                    type="text"
                    name="user"
                    id="user"
                    placeholder="Usuario"
                    required
                  />
                </li>
                <li>
                  <label for="password">Ingrese la contraseña</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Contraseña"
                    required
                  />
              </ul>
            </nav>
          </form>
        </nav>
        </div>
        <div id="ipcam-form2" style="display: none">

          <form class="ip" name="double" id="double">
            <h2>Cámara 1</h2>
            <nav>
              <ul>
                <li>
                  <label for="ipcam">Ingrese la dirección IP</label>
                  <input
                    type="text"
                    name="front_ipcam"
                    id="front_ipcam"
                    placeholder="000.0.000.00"
                    required
                  />
                </li>
                <li>
                  <label for="port">Ingrese el puerto</label>
                  <input
                    type="text"
                    name="front_port"
                    id="front_port"
                    placeholder="0000"
                    required
                  />
                </li>
                <li>
                  <label for="user">Ingrese el usuario</label>
                  <input
                    type="text"
                    name="front_user"
                    id="front_user"
                    placeholder="Usuario"
                    required
                  />
                </li>
                <li>
                  <label for="password">Ingrese la contraseña</label>
                  <input
                    type="password"
                    name="front_password"
                    id="front_password"
                    placeholder="Contraseña"
                    required
                  />
              </ul>
            </nav>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <h2>Cámara 2</h2>
            <nav>
              <ul>
                <li>
                  <label for="ipcam">Ingrese la dirección IP</label>
                  <input
                    type="text"
                    name="back_ipcam"
                    id="back_ipcam"
                    placeholder="000.0.000.00"
                    required
                  />
                </li>
                <li>
                  <label for="port">Ingrese el puerto</label>
                  <input
                    type="text"
                    name="back_port"
                    id="back_port"
                    placeholder="0000"
                    required
                  />
                </li>
                <li>
                  <label for="user">Ingrese el usuario</label>
                  <input
                    type="text"
                    name="back_user"
                    id="back_user"
                    placeholder="Usuario"
                    required
                  />
                </li>
                <li>
                  <label for="password">Ingrese la contraseña</label>
                  <input
                    type="password"
                    name="back_password"
                    id="back_password"
                    placeholder="Contraseña"
                    required
                  />
              </ul>
            </nav>
          </form>
        </div>
        <button type="submit" 
        onclick="submitForms('guardar')" 
        style="display: none"
        value="1"
        id="Monitor"
        name="boton_2"
        >
        GUARDAR
        </button>
      </div>
      <br />
    </main>
  </body>
</html>
