<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MóvilAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/first_config.css')}}"
    />
    <script src="{{url_for('static', filename='js/first_config.js')}}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <main>
      <div class="login-container" id="configurationBox">
        <div class="titulo-container">
          <h1 class="titulo">Configuración inicial</h1>
        </div>
        <div class="content-container">
          <div class="logo-container">
            <h1>
              <a href="{{url_for('index')}}"><img class="loginlogo"src="{{url_for('static', filename='images/logo2.svg')}}" alt="Logo Accesa"/></a>
            </h1>
          </div>
          <div class="config-container">
            <div class="form-container show" id="credentials">
              {% if error_message %}
              <p class="error-message">{{ error_message }}</p>
              {% endif %}
              <form id="credentials-form">
                  <label for="username">Ingrese Usuario:</label>
                  <input type="text" id="username" name="username" placeholder="admin" required>
                  <br>
                  <label for="password">Ingrese Contraseña:</label>
                  <input type="password" id="password" name="password" required>
                  <br>
                  <button type="button" id="submit-button">Continuar</button>
              </form>
            </div>
            <div class="form-container hidden" id="route">
              {% if error_message %}
              <p class="error-message">{{ error_message }}</p>
              {% endif %}
              <form id="route-form">
                  <label for="proyect">Proyecto:</label>
                  <input type="text" id="proyect" name="proyect" required>
                  <br>
                  <label for="ramal">Ramal:</label>
                  <input type="text" id="ramal" name="ramal" required>
                  <br>
                  <label for="ruta">Ruta:</label>
                  <input type="text" id="ruta" name="ruta" required>
                  <br>
                  <label for="unidad">Unidad:</label>
                  <input type="text" id="unidad" name="unidad" required>
                  <br>
                  <button type="button" id="submit-route">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
