<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MóvilAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/index.css')}}"
    />
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <main>
      <div class="login-container">
        <div class="titulo-container">
          <h1 class="titulo">MóvilAI</h1>
        </div>
        <div class="content-container">
          <div class="logo-container">
            <h1>
              <a href="{{url_for('index')}}"><img class="loginlogo"src="{{url_for('static', filename='images/logo2.svg')}}" alt="Logo Accesa"/></a>
            </h1>
          </div>
          <div class="form-container">
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <form method="POST">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Ingresar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
