<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detector de objetos</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/reset.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style-cam.css') }}"
    />
    <link rel="icon" type="image/svg" href="{{url_for('static', filename='images/logo2.svg')}}">
    <script src="{{url_for('static', filename='js/netcam.js')}}"></script>
    <!-- Import jQuery library -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="caja">
        <h1>
          <a href="{{url_for('index')}}"
            ><img
              src="{{url_for('static', filename='images/logo.jpg')}}"
              alt="Logo Accesa"
              class="logo"
            />
          </a>
        </h1>
        <h1 class="titulo">Detección de Objetos</h1>
      </div>
    </header>
    <main>
      <section class="reset">
        <nav>
          <ul>
            <li>
              <form action="javascript:resetCount()">
                <button type="submit">RESET</button>
              </form>
            </li>
            <li>
              <a href="{{url_for('settings')}}">
                <button type="submit">CONFIGURAR</button>
              </a>
            </li>
          </ul>
        </nav>
        <p id="message" class="alert-message"></p>
      </section>
      <div class="table-wrapper">
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Contador</th>
                <th>Evento</th>
                <th>Subidas</th>
                <th>Bajadas</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <tr>
                <td>{{ fecha }}</td>
                <td>{{ contador }}</td>
                <td>{{ evento }}</td>
                <td>{{ subidas }}</td>
                <td>{{ bajadas }}</td>
              </tr>
              <tr class="back-counter">
                <td>{{ fecha_back }}</td>
                <td>{{ contador_back }}</td>
                <td>{{ evento_back }}</td>
                <td>{{ subidas_back }}</td>
                <td>{{ bajadas_back }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="camera">
        <img src="{{ url_for('video_feed') }}" />
      </div>
      <!-- <div class="camera">
            <iframe src="https://www.retrogames.cc/embed/10387-the-king-of-fighters-2002-magic-plus-ii-bootleg-bootleg.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
        </div> -->
    </main>
  </body>
</html>
