body {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
}
header {
  background: #ebd5ae;
  padding: 20px 0;
  margin: 0 auto;
}
.caja {
  position: relative;
  margin: 0 auto;
  display: inline;
}
.logo {
  width: 15%;
  height: 15%;
  margin-left: 100px;
}
.logo:hover {
  cursor: pointer;
}
.titulo {
  font-weight: bold;
  font-style: initial;
  font-size: 30px;
  color: black;
  text-align: center;
  position: relative;
  top: -40px;
  text-align: center;
}

.titulo:hover {
  text-decoration: underline;
  transition: 0.5s;
}
br{
  width: 100%;
  padding: 50%;
}

button {
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  width: 15%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #222222;
  transform: scale(1.1);
  color: #ebd5ae;
  transition: 0.5s;
}

.options {
  display: grid;
  grid-template-columns: 1fr auto; /* Create two columns, first column takes available space, second column takes content width */
  align-items: center; /* Center vertically within the container */
  width: 70%;
  margin-left: auto;
  margin-right: 15%;
}

.options nav {
  margin-top: 15px;
  margin-left: auto; /* Push the nav to the right side */
}

nav button{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cam-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cam-form legend {
  font-weight: bold;
  font-style: initial;
  font-size: 15px;
  color: #ebd5ae;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}
.cam-form select {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  font-style: italic;
}
.div-form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


#ipcam-form form, #ipcam-form2 form {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20%;
  margin-right: auto;
}

#ipcam-form ul, #ipcam-form2 ul{
  display: flex;
  flex-direction: column;
}

#ipcam-form li, #ipcam-form2 li{
  display: flex;
  flex-direction: row; /* Change to row layout */
  align-items: center;
}

#ipcam-form label, #ipcam-form2 label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ebd5ae;
  margin-right: 20%;
}

#ipcam-form input[type="text"],
#ipcam-form input[type="password"],
#ipcam-form2 input[type="text"],
#ipcam-form2 input[type="password"]{
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  font-style: italic;
  margin-right: 20px;
  margin-left: auto;
}

#ipcam-form2 hr {
  width: 100%;
  margin: 30px 0 30px 0;
  opacity: 30%;
  border: none;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

form h2{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #ebd5ae;
  text-align: left;
  margin-bottom: 20px;
}
form h3{
  width: 100%;
}


#Monitor {
  width: 120px;
  margin-top: 10%;
  margin-left: 50%;
  margin-right: auto;
}


/* Original CSS rules */

@media screen and (max-width: 768px) {
  /* Adjustments for screens with a maximum width of 768px */
  .logo {
    width: 30%;
    margin-bottom: 15%;
    margin-left: 35%;
  }

  .titulo {
    font-size: 24px;
  }

  .options {
    grid-template-columns: auto; /* Change to a single column layout */
    margin: 0;
    margin-left: -35%;
    width: 100%;
  }

  nav {
    margin: 10px 0;
  }

  .cam-form {
    width: 100%;
  }

#ipcam-form label,
#ipcam-form2 label {
  /* ... other CSS styles ... */
  display: flex; /* Change display to block */
  flex-direction: row; /* Change to column layout */
  width: 100%; /* Occupy full width */
  margin-bottom: 5px;
  color: #ebd5ae;
  margin-left: 24%;
  text-align: center;
}
#ipcam-form ul, #ipcam-form2 ul{
  display: flex;
  flex-direction: column;
}

#ipcam-form li, #ipcam-form2 li{
  display: flex;
  flex-direction: column; /* Change to row layout */
  align-items: center;
}

#ipcam-form input[type="text"],
#ipcam-form input[type="password"],
#ipcam-form2 input[type="text"],
#ipcam-form2 input[type="password"] {
  /* ... other CSS styles ... */
  width: 80%; /* Occupy full width */
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  font-style: italic;
}

  #Monitor {
    width: auto;
    margin: 0% 35%;
  }
}

.loading {
  display: none;
  text-align: center;
  padding: 20px;
}
.loading.active {
  display: block;
}

/* Spinning circle animation */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Make sure the overlay is on top of everything */
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
}

/* Spinning circle animation */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}