html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.video div {
  text-align: center;
  border: 15px solid black;
  border-radius: 10px;
}

canvas {
  width: 640px;
  height: 480px;
  background-color: #f2f2f2;
}

.slider-container {
  padding: 5px;
  border-radius: 5px;
  background-color: #ebd5ae;
  border: #000000 1px solid;
  width: 150px;
  float: right;
}
