body {
  /* font-family: Arial, sans-serif;
  background-color: #f0f0f0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
}

.login-container {
  display: flex;
  background-color: #ebd5ae;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 300px;
  flex-direction: column;
  overflow: hidden;
  transition: height 2s;
}

/* .login-container:hover{
  height: 50vh;
} */
.expanded {
  height: 50vh;
}
.titulo-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.titulo{
  font-weight: bold;
  font-style: initial;
  font-size: 30px;
  color: black;
  text-align: center;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.logo-container{
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.loginlogo {
  margin-top: -60px;
  width: 150%;
  height: 200%;
}

.config-container{
  position: relative;
  margin-left: 10px;
  width: 300px;
  height: 100%;
  display: flex;
}
.form-container{
  position: absolute;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  left: 10%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; */
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}
.form-container.hidden {
  transform: translateX(-200%);
}

.form-container.show {
  transform: translateX(0%);
}


input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #4e4638;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ebd5ae;
  color: black;
  font-weight: 100;
  font-style: italic;
}

.form-container button {
  background-color: #ebd5ae;
  margin-top: 10px;
  padding: 10px 20px;
  border: oklab(lightness 50% 1px solid);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 58%;
}

button:hover {
  background-color: #d1be9c;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-container {
    width: auto;
    height: 500px;
  }
  .expanded {
    height: 650px;
  }
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    padding-left: 0;
    margin-top: 20px;
  }

  .form-container {
    width: 80%;
    height: 400px;
    align-items: center;
    padding: 10px;
  }

  .form-container button {
    margin-left: 50%;
  }
}