body {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
}
header {
  background: #ebd5ae;
  padding: 20px 0;
  margin: 0 auto;
}
.caja {
  position: relative;
  margin: 0 auto;
  display: inline;
}
.logo {
  width: 15%;
  height: 15%;
  margin-left: 100px;
}
.logo:hover {
  cursor: pointer;
}
.titulo {
  font-weight: bold;
  font-style: initial;
  font-size: 30px;
  color: black;
  text-align: center;
  position: relative;
  top: -40px;
  text-align: center;
}

.titulo:hover {
  text-decoration: underline;
  transition: 0.5s;
}

main {
  position: relative;
  top: 30px;
  margin-top: 40px;
}

.camera {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.camera img {
  width: 100%;
}

.back-counter{
  display:none;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%;
    top: 10px;
    left: 10px;
  }

  .titulo {
    font-size: 30px;
  }

  .camera {
    max-width: 500px;
  }
}

@media only screen and (max-width: 480px) {
  .titulo {
    font-size: 24px;
  }

  .camera {
    max-width: 300px;
  }
}

.cam-form {
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
}

.cam-form legend {
  font-weight: bold;
  font-style: initial;
  font-size: 15px;
  color: #ebd5ae;
  text-align: left;
  position: relative;
  top: 30%;
  margin-bottom: 20px;
}

#ipcam-form form, #ipcam-form2 form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#ipcam-form label, #ipcam-form2 label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ebd5ae;
}

#ipcam-form input[type="text"],
#ipcam-form input[type="password"],
#ipcam-form2 input[type="text"],
#ipcam-form2 input[type="password"],
.cam-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 20%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  font-style: italic;
}

/* Style the form elements for a horizontal layout */
@media screen and (min-width: 768px) {
  #ipcam-form form, #ipcam-form2 form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
  }

  #ipcam-form label, #ipcam-form2 label {
    margin-right: 20px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    text-align: right;
  }

  #ipcam-form input[type="text"],
  #ipcam-form input[type="password"] {
    width: 200px;
    margin-right: 10px;
  }
}
button {
  background-color: #ebd5ae;
  color: black;
  border-radius: 5px;
  font-weight: 100;
  width: 15%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #222222;
  transform: scale(1.1);
  color: #ebd5ae;
  transition: 0.5s;
}
/* style para el botón del reset del conteo*/
.reset {
  height: 10px;
  width: auto;
}

.reset button {
  position: relative;
  left: 85%;
  top: -45px;
}

.reset .alert-message {
  width: 20%;
  position: relative;
  left: 5%;
  top: -40px;
  color: red;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

/* CSS for config*/
.config {
  position: relative;
  top: -53px;
  left: 1000px;
}

nav {
  position: absolute;
  right: 150px;
}

nav button {
  width: 150px;
}
nav li {
  margin: 0 0 0 100px;
  float: right;
}
#landscape {
  color: #ebd5ae;
}

.canvas_button {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}
