table {
  width: 100%;
  height: 30%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #cecaca;
  font-weight: bold;
}
tbody {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* Adjust layout for small screens */
  table {
    font-size: 20px;
  }

  th,
  td {
    padding: 4px;
  }

  th:nth-child(1),
  td:nth-child(1) {
    display: none;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 100px;
  }

  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 100px;
  }
}

.table-wrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.table-scroll {
  overflow-y: hidden;
  white-space: nowrap;
}
