<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">Matching Pairs</h1>
            <form action=""  onsubmit="event.preventDefault(); decodeText();">
              <div class="field">
                <label class="label">Ingrese código en base64 o hex</label>
                <div class="control">
                  <input class="input" id="text-input" type="text" placeholder="686f6c61206d756e646f" required>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Convertir</button>
                </div>
              </div>
            </form>
            <div id="result"></div>
    </section>
</body>
</html>