<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">RTFM and LMGTFY</h1>
            {{ content|safe }}
    </section>
</body>
</html>
