<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">Matching Pairs</h1>
            <form action=""  onsubmit="event.preventDefault(); matchingPairs();">
              <div class="field">
                <label class="label">Ingrese números separados por comas y en orden ascendente. El programa asume que cumple con estos requerimientos.</label>
                <div class="control">
                  <input class="input" id="numbers-input" type="text" placeholder="1,1,1,2,2,2" required>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Suma deseada</label>
                <div class="control">
                  <input class="input" id="sum-input" type="number" placeholder="8", required>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Calcular</button>
                </div>
              </div>
            </form>
            <div id="result"></div>
    </section>
</body>
</html>