<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <img src="/static/assets/home.svg" width="112" height="28">
      </a>
      <a role="button" class="navbar-burger" role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
  <div id="navMenu" class="navbar-menu">
  <div class="navbar-start">
      <a class="navbar-item" href="/">
          Part 1: RTFM and LMGTFY
      </a>
      <a class="navbar-item" href="/ci_page">
          Part 2: CI code
      </a>
      <a class="navbar-item" href="/projects">
          Part 3: Projects
      </a>
      <a class="navbar-item" href="/matching_pairs">
          Part 4: Matching Pairs
      </a>
      <a class="navbar-item" href="data_decode">
          Part 5: Decode message
      </a>
  </div>
</nav>