<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">My projects</h1>
            <nav class="panel">
              <p class="panel-heading">
                Repositories
              </p>
              <a class="panel-block is-active" href="https://gitlab.com/Ajelandro19/new-developer_v3/-/tree/main/Intelimovil?ref_type=heads">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
               Intelimovil
              </a>
              <a class="panel-block" href="https://github.com/Mecuba/Supervivencia-en-el-Titanic/tree/Dise%C3%B1o_AppWeb">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Supervivencia al titanic
              </a>
              <a class="panel-block" href="https://titanicsurvival.azurewebsites.net/">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Supervivencia al titanic despliegue
              </a>
              <a class="panel-block" href="https://trains.accesa.me">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                TrainS
              </a>
            </nav>
    </section>
</body>
</html>
